body {
    background: linear-gradient(#001428, #000000);
    color: white;
    text-align: center;
    font-family: Arial;
}

.container {
    margin-top: 80px;
}

.titulo-color {
    font-size: 48px;
    padding: 10px 25px;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff9e00, #ffe45c);
    color: black;
    display: inline-block;
}

.btn {
    padding: 12px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.naranja { background: #ff9e00; color: black; }
.amarillo { background: #ffe45c; color: black; }

input, select {
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: 8px 0;
}

.candidato {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #0f1c33;
    border-radius: 10px;
}

table {
    width: 90%;
    margin: auto;
    background: #102033;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #222;
}

.error {
    color: red;
    margin-top: 10px;
}

.qr {
    width: 200px;
    margin-top: 20px;
}
