<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Votación Escolar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1 class="titulo-color">Bienvenido</h1>

    <p class="sub">Usa tu número de documento para entrar o registrarte automáticamente la primera vez.</p>

    <div class="botones">
        <a href="/votar/primaria" class="btn naranja">Primaria</a>
        <a href="/votar/secundaria" class="btn amarillo">Secundaria</a>

        <!-- BOTÓN OCULTO -->
        <a id="oculto" href="/admin" style="opacity:0; pointer-events:none;">Resultados</a>
    </div>

    <img src="/static/qr.png" class="qr">

</div>

<script>
    let buffer = "";

    document.addEventListener("keydown", (e) => {
        buffer += e.key;
        if (buffer.includes("admin123")) {
            window.location.href = "/admin";
        }
        if (buffer.length > 20) buffer = "";
    });
</script>

</body>
</html>
